h1{
  text-align: center;
  font-size: 3em;
}

#step1{
  display: none;
  width: 75%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
position:relative;
left: 15%;
right: 100px;
top:40px;
background: url("blur3.png") no-repeat fixed;
background-position: center top;
border-radius: 25px;
}
#step2{
  display: none;
  width: 75%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
position:relative;
left: 15%;
right: 100px;
top:40px;
background: url("blur3.png") no-repeat fixed;
background-position: center top;
border-radius: 25px;
}

#step3{
  display: none;
  width: 75%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
position:relative;
left: 15%;
right: 100px;
top:40px;
background: url("blur3.png") no-repeat fixed;
background-position: center top;
border-radius: 25px;
}



button{
margin-top: 25px;
  position: relative;
  left: 29%;
}
p{
text-align: center;
padding-left: 30px;
padding-right: 30px;
font-size: 1.5em;
}


#Fore{
height:1000px;
background-color:	white;
margin:25px;

background-image: url("pencil.png");
background-position: top;
background-size: 100% ;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
  background:#43D1AF;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#43D1AF;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #43D1AF;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
a{
  color: white;
}
